GO2RTC_SERVER=https://rtc.aacctrust.in
NEXT_PUBLIC_GO2RTC_SERVER=https://rtc.aacctrust.in
NEXT_PUBLIC_CAMERAS=cam1:CAM 01,cam3:CAM 02
AUTH_USERNAME=admin
AUTH_PASSWORD=change-this-password
AUTH_SECRET=change-this-long-random-secret
